<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/">
        <img src="assets/img/ticket_to_ride_logo.png" alt="logo">
        <h1>Ticket to Ride</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="General" nzIcon="login">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/login">Login</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <!--          <li nz-menu-item nzMatchRouter>-->
          <!--            <a routerLink="/gameboard">Game board</a>-->
          <!--          </li>-->
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/game-setting">Play Game</a>
          </li>
          <!--          <li nz-menu-item nzMatchRouter>-->
          <!--            <a routerLink="/gameboard">Game board</a>-->
          <!--          </li>-->
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>

        <ng-container *ngIf="authService.user$ | async as user; else loginFb">

        <span>
          {{user.displayName ? user.displayName : user.email}}
          <img *ngIf="user.photoURL" src="{{user.photoURL}}" alt="photo">

        </span>

          <span class="header-login" (click)="authService.logout()">
            <i class="trigger"
               nz-icon
               [nzType]="'logout'"
            ></i>
          </span>
        </ng-container>


        <ng-template #loginFb>
<span class="header-login" (click)="authService.loginByFb()">
            <i class="trigger"
               nz-icon
               [nzType]="'facebook'"
            ></i>
  </span>
        </ng-template>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
