@import "variebles";

.player-info {
  &__player-element {
    display: flex;
  }
}

.player-name {
  width: 60%;
  margin-right: 8px;
}

.player-color {
  width: $base-indent * 15;
  margin-right: $base-indent;
}

.train-color-item {
  display: inline-block;
  width: $base-indent;
  height: $base-indent;
  border-radius: 50%;
  border: 1px solid;
  opacity: 0.7;
  margin-right: $base-indent;
}

.color-green {
  background-color: $color-green;
}

.color-red {
  background-color: $color-red;
}

.color-yellow {
  background-color: $color-yellow;
}

.color-black {
  background-color: $color-black;
}

.color-blue {
  background-color: $color-blue;
}


.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.train-img {
  width: $base-indent * 2;
  height: $base-indent * 2;
  // convert color svg element https://codepen.io/sosuke/pen/Pjoqqp
  filter: invert(51%) sepia(77%) saturate(4490%) hue-rotate(166deg) brightness(101%) contrast(101%);

  &__red {
    filter: invert(14%) sepia(90%) saturate(5610%) hue-rotate(358deg) brightness(109%) contrast(114%);
  }

  &__blue {
    filter: invert(9%) sepia(100%) saturate(4994%) hue-rotate(244deg) brightness(108%) contrast(149%);
  }

  &__black {
    filter: invert(0%) sepia(95%) saturate(20%) hue-rotate(39deg) brightness(93%) contrast(107%);
  }

  &__yellow {
    filter: invert(99%) sepia(61%) saturate(7500%) hue-rotate(358deg) brightness(103%) contrast(101%);
  }

  &__green {
    filter: invert(23%) sepia(94%) saturate(4235%) hue-rotate(112deg) brightness(92%) contrast(104%);
  }
}

.game-result-list {
  margin-bottom: $base-indent * 2;
}


